CreditoMovilWA/Connected Services/SupervisorWebService/SupervisorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.creditomovil.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SupervisorWS" targetNamespace="http://services.creditomovil.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/SupervisorWS?xsd=1" namespace="http://services.creditomovil.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerSupervisorPorId">
    <part name="parameters" element="tns:obtenerSupervisorPorId" />
  </message>
  <message name="obtenerSupervisorPorIdResponse">
    <part name="parameters" element="tns:obtenerSupervisorPorIdResponse" />
  </message>
  <message name="modificarSupervisor">
    <part name="parameters" element="tns:modificarSupervisor" />
  </message>
  <message name="modificarSupervisorResponse">
    <part name="parameters" element="tns:modificarSupervisorResponse" />
  </message>
  <message name="eliminarSupervisor">
    <part name="parameters" element="tns:eliminarSupervisor" />
  </message>
  <message name="eliminarSupervisorResponse">
    <part name="parameters" element="tns:eliminarSupervisorResponse" />
  </message>
  <message name="listarSupervisor">
    <part name="parameters" element="tns:listarSupervisor" />
  </message>
  <message name="listarSupervisorResponse">
    <part name="parameters" element="tns:listarSupervisorResponse" />
  </message>
  <message name="insertarSupervisor">
    <part name="parameters" element="tns:insertarSupervisor" />
  </message>
  <message name="insertarSupervisorResponse">
    <part name="parameters" element="tns:insertarSupervisorResponse" />
  </message>
  <portType name="SupervisorWS">
    <operation name="obtenerSupervisorPorId">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/obtenerSupervisorPorIdRequest" message="tns:obtenerSupervisorPorId" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/obtenerSupervisorPorIdResponse" message="tns:obtenerSupervisorPorIdResponse" />
    </operation>
    <operation name="modificarSupervisor">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/modificarSupervisorRequest" message="tns:modificarSupervisor" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/modificarSupervisorResponse" message="tns:modificarSupervisorResponse" />
    </operation>
    <operation name="eliminarSupervisor">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/eliminarSupervisorRequest" message="tns:eliminarSupervisor" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/eliminarSupervisorResponse" message="tns:eliminarSupervisorResponse" />
    </operation>
    <operation name="listarSupervisor">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/listarSupervisorRequest" message="tns:listarSupervisor" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/listarSupervisorResponse" message="tns:listarSupervisorResponse" />
    </operation>
    <operation name="insertarSupervisor">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/insertarSupervisorRequest" message="tns:insertarSupervisor" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/SupervisorWS/insertarSupervisorResponse" message="tns:insertarSupervisorResponse" />
    </operation>
  </portType>
  <binding name="SupervisorWSPortBinding" type="tns:SupervisorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerSupervisorPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SupervisorWS">
    <port name="SupervisorWSPort" binding="tns:SupervisorWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/SupervisorWS" />
    </port>
  </service>
</definitions>