CreditoMovilWA/Connected Services/CreditoMovil/AdministradorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.creditomovil.pucp.edu.pe/" targetNamespace="http://services.creditomovil.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAdministrador" type="tns:eliminarAdministrador" />
  <xs:element name="eliminarAdministradorResponse" type="tns:eliminarAdministradorResponse" />
  <xs:element name="insertarAdministrador" type="tns:insertarAdministrador" />
  <xs:element name="insertarAdministradorResponse" type="tns:insertarAdministradorResponse" />
  <xs:element name="listarTodosAdministradores" type="tns:listarTodosAdministradores" />
  <xs:element name="listarTodosAdministradoresResponse" type="tns:listarTodosAdministradoresResponse" />
  <xs:element name="modificarAdministrador" type="tns:modificarAdministrador" />
  <xs:element name="modificarAdministradorResponse" type="tns:modificarAdministradorResponse" />
  <xs:element name="obtenerPorIDAdministrador" type="tns:obtenerPorIDAdministrador" />
  <xs:element name="obtenerPorIDAdministradorResponse" type="tns:obtenerPorIDAdministradorResponse" />
  <xs:complexType name="listarTodosAdministradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAdministradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoAdm" type="xs:string" />
          <xs:element name="codigoCargo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="ultimoLogueo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministrador">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idadministrador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPorIDAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idadministrador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDAdministradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:administrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>