CreditoMovilWA/Connected Services/CreditoMovil/BancoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://services.creditomovil.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BancoWS" targetNamespace="https://services.creditomovil.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/BancoWS?xsd=1" namespace="https://services.creditomovil.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIDBanco">
    <part name="parameters" element="tns:obtenerPorIDBanco" />
  </message>
  <message name="obtenerPorIDBancoResponse">
    <part name="parameters" element="tns:obtenerPorIDBancoResponse" />
  </message>
  <message name="insertarBanco">
    <part name="parameters" element="tns:insertarBanco" />
  </message>
  <message name="insertarBancoResponse">
    <part name="parameters" element="tns:insertarBancoResponse" />
  </message>
  <message name="modificarBanco">
    <part name="parameters" element="tns:modificarBanco" />
  </message>
  <message name="modificarBancoResponse">
    <part name="parameters" element="tns:modificarBancoResponse" />
  </message>
  <message name="eliminarBanco">
    <part name="parameters" element="tns:eliminarBanco" />
  </message>
  <message name="eliminarBancoResponse">
    <part name="parameters" element="tns:eliminarBancoResponse" />
  </message>
  <message name="listarTodosBancos">
    <part name="parameters" element="tns:listarTodosBancos" />
  </message>
  <message name="listarTodosBancosResponse">
    <part name="parameters" element="tns:listarTodosBancosResponse" />
  </message>
  <portType name="BancoWS">
    <operation name="obtenerPorIDBanco">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/obtenerPorIDBancoRequest" message="tns:obtenerPorIDBanco" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/obtenerPorIDBancoResponse" message="tns:obtenerPorIDBancoResponse" />
    </operation>
    <operation name="insertarBanco">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/insertarBancoRequest" message="tns:insertarBanco" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/insertarBancoResponse" message="tns:insertarBancoResponse" />
    </operation>
    <operation name="modificarBanco">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/modificarBancoRequest" message="tns:modificarBanco" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/modificarBancoResponse" message="tns:modificarBancoResponse" />
    </operation>
    <operation name="eliminarBanco">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/eliminarBancoRequest" message="tns:eliminarBanco" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/eliminarBancoResponse" message="tns:eliminarBancoResponse" />
    </operation>
    <operation name="listarTodosBancos">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/listarTodosBancosRequest" message="tns:listarTodosBancos" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/BancoWS/listarTodosBancosResponse" message="tns:listarTodosBancosResponse" />
    </operation>
  </portType>
  <binding name="BancoWSPortBinding" type="tns:BancoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIDBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosBancos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BancoWS">
    <port name="BancoWSPort" binding="tns:BancoWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/BancoWS" />
    </port>
  </service>
</definitions>