CreditoMovilWA/Connected Services/CreditoMovil/BancoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.creditomovil.pucp.edu.pe" targetNamespace="https://services.creditomovil.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarBanco" type="tns:eliminarBanco" />
  <xs:element name="eliminarBancoResponse" type="tns:eliminarBancoResponse" />
  <xs:element name="insertarBanco" type="tns:insertarBanco" />
  <xs:element name="insertarBancoResponse" type="tns:insertarBancoResponse" />
  <xs:element name="listarTodosBancos" type="tns:listarTodosBancos" />
  <xs:element name="listarTodosBancosResponse" type="tns:listarTodosBancosResponse" />
  <xs:element name="modificarBanco" type="tns:modificarBanco" />
  <xs:element name="modificarBancoResponse" type="tns:modificarBancoResponse" />
  <xs:element name="obtenerPorIDBanco" type="tns:obtenerPorIDBanco" />
  <xs:element name="obtenerPorIDBancoResponse" type="tns:obtenerPorIDBancoResponse" />
  <xs:element name="obtenerPorNombreBanco" type="tns:obtenerPorNombreBanco" />
  <xs:element name="obtenerPorNombreBancoResponse" type="tns:obtenerPorNombreBancoResponse" />
  <xs:complexType name="eliminarBanco">
    <xs:sequence>
      <xs:element name="idbanco" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarBancoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosBancos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosBancosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:banco" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="banco">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:metodoPago">
        <xs:sequence>
          <xs:element minOccurs="0" name="CCI" type="xs:string" />
          <xs:element minOccurs="0" name="nombreBanco" type="xs:string" />
          <xs:element minOccurs="0" name="tipoCuenta" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="metodoPago" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTitular" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarBanco">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco" type="tns:banco" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarBancoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDBanco">
    <xs:sequence>
      <xs:element name="idbanco" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDBancoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:banco" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBanco">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco" type="tns:banco" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarBancoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorNombreBanco">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombrebanco" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorNombreBancoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:banco" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>