CreditoMovilWA/Connected Services/CreditoMovil/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.creditomovil.pucp.edu.pe" targetNamespace="https://services.creditomovil.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="insertarCliente" type="tns:insertarCliente" />
  <xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse" />
  <xs:element name="listarTodosClientes" type="tns:listarTodosClientes" />
  <xs:element name="listarTodosClientesResponse" type="tns:listarTodosClientesResponse" />
  <xs:element name="modificarCliente" type="tns:modificarCliente" />
  <xs:element name="modificarClienteResponse" type="tns:modificarClienteResponse" />
  <xs:element name="obtenerPorIDCliente" type="tns:obtenerPorIDCliente" />
  <xs:element name="obtenerPorIDClienteResponse" type="tns:obtenerPorIDClienteResponse" />
  <xs:complexType name="obtenerPorIDCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idcliente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoCliente" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element name="ranking" type="xs:double" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
          <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="ultimoLogueo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idcliente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>