CreditoMovilWA/Connected Services/CreditoMovil/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://services.creditomovil.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="https://services.creditomovil.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/ClienteWS?xsd=1" namespace="https://services.creditomovil.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarClientesConCredPendientes">
    <part name="parameters" element="tns:listarClientesConCredPendientes" />
  </message>
  <message name="listarClientesConCredPendientesResponse">
    <part name="parameters" element="tns:listarClientesConCredPendientesResponse" />
  </message>
  <message name="reportePDF">
    <part name="parameters" element="tns:reportePDF" />
  </message>
  <message name="reportePDFResponse">
    <part name="parameters" element="tns:reportePDFResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="listarClientesActivosPorNombre">
    <part name="parameters" element="tns:listarClientesActivosPorNombre" />
  </message>
  <message name="listarClientesActivosPorNombreResponse">
    <part name="parameters" element="tns:listarClientesActivosPorNombreResponse" />
  </message>
  <message name="eliminarClienteLogico">
    <part name="parameters" element="tns:eliminarClienteLogico" />
  </message>
  <message name="eliminarClienteLogicoResponse">
    <part name="parameters" element="tns:eliminarClienteLogicoResponse" />
  </message>
  <message name="obtenerPorCodCliente">
    <part name="parameters" element="tns:obtenerPorCodCliente" />
  </message>
  <message name="obtenerPorCodClienteResponse">
    <part name="parameters" element="tns:obtenerPorCodClienteResponse" />
  </message>
  <message name="obtenerPorDocIdenCliente">
    <part name="parameters" element="tns:obtenerPorDocIdenCliente" />
  </message>
  <message name="obtenerPorDocIdenClienteResponse">
    <part name="parameters" element="tns:obtenerPorDocIdenClienteResponse" />
  </message>
  <message name="listarTodosClientes">
    <part name="parameters" element="tns:listarTodosClientes" />
  </message>
  <message name="listarTodosClientesResponse">
    <part name="parameters" element="tns:listarTodosClientesResponse" />
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente" />
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse" />
  </message>
  <message name="eliminarCompletoCliente">
    <part name="parameters" element="tns:eliminarCompletoCliente" />
  </message>
  <message name="eliminarCompletoClienteResponse">
    <part name="parameters" element="tns:eliminarCompletoClienteResponse" />
  </message>
  <message name="generarBuffer">
    <part name="parameters" element="tns:generarBuffer" />
  </message>
  <message name="generarBufferResponse">
    <part name="parameters" element="tns:generarBufferResponse" />
  </message>
  <message name="modificarCliente">
    <part name="parameters" element="tns:modificarCliente" />
  </message>
  <message name="modificarClienteResponse">
    <part name="parameters" element="tns:modificarClienteResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="listarClientesConCredPendientes">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarClientesConCredPendientesRequest" message="tns:listarClientesConCredPendientes" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarClientesConCredPendientesResponse" message="tns:listarClientesConCredPendientesResponse" />
    </operation>
    <operation name="reportePDF">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/reportePDFRequest" message="tns:reportePDF" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/reportePDFResponse" message="tns:reportePDFResponse" />
      <fault wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/reportePDF/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarClientesActivosPorNombre">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarClientesActivosPorNombreRequest" message="tns:listarClientesActivosPorNombre" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarClientesActivosPorNombreResponse" message="tns:listarClientesActivosPorNombreResponse" />
    </operation>
    <operation name="eliminarClienteLogico">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/eliminarClienteLogicoRequest" message="tns:eliminarClienteLogico" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/eliminarClienteLogicoResponse" message="tns:eliminarClienteLogicoResponse" />
    </operation>
    <operation name="obtenerPorCodCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorCodClienteRequest" message="tns:obtenerPorCodCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorCodClienteResponse" message="tns:obtenerPorCodClienteResponse" />
    </operation>
    <operation name="obtenerPorDocIdenCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorDocIdenClienteRequest" message="tns:obtenerPorDocIdenCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorDocIdenClienteResponse" message="tns:obtenerPorDocIdenClienteResponse" />
    </operation>
    <operation name="listarTodosClientes">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarTodosClientesRequest" message="tns:listarTodosClientes" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarTodosClientesResponse" message="tns:listarTodosClientesResponse" />
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/insertarClienteRequest" message="tns:insertarCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/insertarClienteResponse" message="tns:insertarClienteResponse" />
    </operation>
    <operation name="eliminarCompletoCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/eliminarCompletoClienteRequest" message="tns:eliminarCompletoCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/eliminarCompletoClienteResponse" message="tns:eliminarCompletoClienteResponse" />
    </operation>
    <operation name="generarBuffer">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarBufferRequest" message="tns:generarBuffer" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarBufferResponse" message="tns:generarBufferResponse" />
      <fault wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarBuffer/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="modificarCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/modificarClienteRequest" message="tns:modificarCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/modificarClienteResponse" message="tns:modificarClienteResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarClientesConCredPendientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reportePDF">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarClientesActivosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarClienteLogico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorCodCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorDocIdenCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCompletoCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarBuffer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="modificarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/ClienteWS" />
    </port>
  </service>
</definitions>