CreditoMovilWA/Connected Services/CreditoMovil/EvaluacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.creditomovil.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EvaluacionWS" targetNamespace="http://services.creditomovil.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/EvaluacionWS?xsd=1" namespace="http://services.creditomovil.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIDEvaluacion">
    <part name="parameters" element="tns:obtenerPorIDEvaluacion" />
  </message>
  <message name="obtenerPorIDEvaluacionResponse">
    <part name="parameters" element="tns:obtenerPorIDEvaluacionResponse" />
  </message>
  <message name="modificarEvaluacion">
    <part name="parameters" element="tns:modificarEvaluacion" />
  </message>
  <message name="modificarEvaluacionResponse">
    <part name="parameters" element="tns:modificarEvaluacionResponse" />
  </message>
  <message name="listarTodosEvaluacions">
    <part name="parameters" element="tns:listarTodosEvaluacions" />
  </message>
  <message name="listarTodosEvaluacionsResponse">
    <part name="parameters" element="tns:listarTodosEvaluacionsResponse" />
  </message>
  <message name="eliminarEvaluacion">
    <part name="parameters" element="tns:eliminarEvaluacion" />
  </message>
  <message name="eliminarEvaluacionResponse">
    <part name="parameters" element="tns:eliminarEvaluacionResponse" />
  </message>
  <message name="insertarEvaluacion">
    <part name="parameters" element="tns:insertarEvaluacion" />
  </message>
  <message name="insertarEvaluacionResponse">
    <part name="parameters" element="tns:insertarEvaluacionResponse" />
  </message>
  <portType name="EvaluacionWS">
    <operation name="obtenerPorIDEvaluacion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/obtenerPorIDEvaluacionRequest" message="tns:obtenerPorIDEvaluacion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/obtenerPorIDEvaluacionResponse" message="tns:obtenerPorIDEvaluacionResponse" />
    </operation>
    <operation name="modificarEvaluacion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/modificarEvaluacionRequest" message="tns:modificarEvaluacion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/modificarEvaluacionResponse" message="tns:modificarEvaluacionResponse" />
    </operation>
    <operation name="listarTodosEvaluacions">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/listarTodosEvaluacionsRequest" message="tns:listarTodosEvaluacions" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/listarTodosEvaluacionsResponse" message="tns:listarTodosEvaluacionsResponse" />
    </operation>
    <operation name="eliminarEvaluacion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/eliminarEvaluacionRequest" message="tns:eliminarEvaluacion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/eliminarEvaluacionResponse" message="tns:eliminarEvaluacionResponse" />
    </operation>
    <operation name="insertarEvaluacion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/insertarEvaluacionRequest" message="tns:insertarEvaluacion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/EvaluacionWS/insertarEvaluacionResponse" message="tns:insertarEvaluacionResponse" />
    </operation>
  </portType>
  <binding name="EvaluacionWSPortBinding" type="tns:EvaluacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIDEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosEvaluacions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEvaluacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EvaluacionWS">
    <port name="EvaluacionWSPort" binding="tns:EvaluacionWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/EvaluacionWS" />
    </port>
  </service>
</definitions>