CreditoMovilWA/Connected Services/CreditoMovil/MetodoPagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.creditomovil.pucp.edu.pe/" targetNamespace="http://services.creditomovil.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarMetodoPago" type="tns:eliminarMetodoPago" />
  <xs:element name="eliminarMetodoPagoResponse" type="tns:eliminarMetodoPagoResponse" />
  <xs:element name="insertarMetodoPago" type="tns:insertarMetodoPago" />
  <xs:element name="insertarMetodoPagoResponse" type="tns:insertarMetodoPagoResponse" />
  <xs:element name="listarTodosMetodoPagos" type="tns:listarTodosMetodoPagos" />
  <xs:element name="listarTodosMetodoPagosResponse" type="tns:listarTodosMetodoPagosResponse" />
  <xs:element name="modificarMetodoPago" type="tns:modificarMetodoPago" />
  <xs:element name="modificarMetodoPagoResponse" type="tns:modificarMetodoPagoResponse" />
  <xs:element name="obtenerPorIDMetodoPago" type="tns:obtenerPorIDMetodoPago" />
  <xs:element name="obtenerPorIDMetodoPagoResponse" type="tns:obtenerPorIDMetodoPagoResponse" />
  <xs:complexType name="modificarMetodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTitular" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMetodoPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDMetodoPago">
    <xs:sequence>
      <xs:element name="idmetodoPago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDMetodoPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosMetodoPagos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosMetodoPagosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMetodoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMetodoPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMetodoPago">
    <xs:sequence>
      <xs:element name="idmetodoPago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMetodoPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>