CreditoMovilWA/Connected Services/CreditoMovil/SupervisorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.creditomovil.pucp.edu.pe/" targetNamespace="http://services.creditomovil.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarSupervisor" type="tns:eliminarSupervisor" />
  <xs:element name="eliminarSupervisorResponse" type="tns:eliminarSupervisorResponse" />
  <xs:element name="insertarSupervisor" type="tns:insertarSupervisor" />
  <xs:element name="insertarSupervisorResponse" type="tns:insertarSupervisorResponse" />
  <xs:element name="listarTodosSupervisors" type="tns:listarTodosSupervisors" />
  <xs:element name="listarTodosSupervisorsResponse" type="tns:listarTodosSupervisorsResponse" />
  <xs:element name="modificarSupervisor" type="tns:modificarSupervisor" />
  <xs:element name="modificarSupervisorResponse" type="tns:modificarSupervisorResponse" />
  <xs:element name="obtenerPorIDSupervisor" type="tns:obtenerPorIDSupervisor" />
  <xs:element name="obtenerPorIDSupervisorResponse" type="tns:obtenerPorIDSupervisorResponse" />
  <xs:complexType name="eliminarSupervisor">
    <xs:sequence>
      <xs:element name="idsupervisor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSupervisorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosSupervisors">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosSupervisorsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="agenciaAsignacion" type="xs:string" />
          <xs:element name="codigoCargo" type="xs:int" />
          <xs:element minOccurs="0" name="codigoEv" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="ultimoLogueo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSupervisor">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSupervisorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPorIDSupervisor">
    <xs:sequence>
      <xs:element name="idsupervisor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDSupervisorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSupervisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSupervisorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>