CreditoMovilWA/Connected Services/CreditoMovil/SupervisorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://services.creditomovil.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SupervisorWS" targetNamespace="https://services.creditomovil.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/SupervisorWS?xsd=1" namespace="https://services.creditomovil.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarSupervisor">
    <part name="parameters" element="tns:insertarSupervisor" />
  </message>
  <message name="insertarSupervisorResponse">
    <part name="parameters" element="tns:insertarSupervisorResponse" />
  </message>
  <message name="eliminarSupervisor">
    <part name="parameters" element="tns:eliminarSupervisor" />
  </message>
  <message name="eliminarSupervisorResponse">
    <part name="parameters" element="tns:eliminarSupervisorResponse" />
  </message>
  <message name="obtenerPorDocIdenSup">
    <part name="parameters" element="tns:obtenerPorDocIdenSup" />
  </message>
  <message name="obtenerPorDocIdenSupResponse">
    <part name="parameters" element="tns:obtenerPorDocIdenSupResponse" />
  </message>
  <message name="obtenerPorIDSupervisor">
    <part name="parameters" element="tns:obtenerPorIDSupervisor" />
  </message>
  <message name="obtenerPorIDSupervisorResponse">
    <part name="parameters" element="tns:obtenerPorIDSupervisorResponse" />
  </message>
  <message name="listarTodosSupervisors">
    <part name="parameters" element="tns:listarTodosSupervisors" />
  </message>
  <message name="listarTodosSupervisorsResponse">
    <part name="parameters" element="tns:listarTodosSupervisorsResponse" />
  </message>
  <message name="modificarSupervisor">
    <part name="parameters" element="tns:modificarSupervisor" />
  </message>
  <message name="modificarSupervisorResponse">
    <part name="parameters" element="tns:modificarSupervisorResponse" />
  </message>
  <portType name="SupervisorWS">
    <operation name="insertarSupervisor">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/insertarSupervisorRequest" message="tns:insertarSupervisor" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/insertarSupervisorResponse" message="tns:insertarSupervisorResponse" />
    </operation>
    <operation name="eliminarSupervisor">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/eliminarSupervisorRequest" message="tns:eliminarSupervisor" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/eliminarSupervisorResponse" message="tns:eliminarSupervisorResponse" />
    </operation>
    <operation name="obtenerPorDocIdenSup">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/obtenerPorDocIdenSupRequest" message="tns:obtenerPorDocIdenSup" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/obtenerPorDocIdenSupResponse" message="tns:obtenerPorDocIdenSupResponse" />
    </operation>
    <operation name="obtenerPorIDSupervisor">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/obtenerPorIDSupervisorRequest" message="tns:obtenerPorIDSupervisor" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/obtenerPorIDSupervisorResponse" message="tns:obtenerPorIDSupervisorResponse" />
    </operation>
    <operation name="listarTodosSupervisors">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/listarTodosSupervisorsRequest" message="tns:listarTodosSupervisors" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/listarTodosSupervisorsResponse" message="tns:listarTodosSupervisorsResponse" />
    </operation>
    <operation name="modificarSupervisor">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/modificarSupervisorRequest" message="tns:modificarSupervisor" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/SupervisorWS/modificarSupervisorResponse" message="tns:modificarSupervisorResponse" />
    </operation>
  </portType>
  <binding name="SupervisorWSPortBinding" type="tns:SupervisorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorDocIdenSup">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIDSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosSupervisors">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SupervisorWS">
    <port name="SupervisorWSPort" binding="tns:SupervisorWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/SupervisorWS" />
    </port>
  </service>
</definitions>