CreditoMovilWA/Connected Services/CreditoMovil/TransaccionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.creditomovil.pucp.edu.pe" targetNamespace="https://services.creditomovil.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarTransaccion" type="tns:eliminarTransaccion" />
  <xs:element name="eliminarTransaccionResponse" type="tns:eliminarTransaccionResponse" />
  <xs:element name="insertarTransaccion" type="tns:insertarTransaccion" />
  <xs:element name="insertarTransaccionResponse" type="tns:insertarTransaccionResponse" />
  <xs:element name="listarTodosTransaccions" type="tns:listarTodosTransaccions" />
  <xs:element name="listarTodosTransaccionsResponse" type="tns:listarTodosTransaccionsResponse" />
  <xs:element name="listarTransaccionCredito" type="tns:listarTransaccionCredito" />
  <xs:element name="listarTransaccionCreditoResponse" type="tns:listarTransaccionCreditoResponse" />
  <xs:element name="modificarTransaccion" type="tns:modificarTransaccion" />
  <xs:element name="modificarTransaccionResponse" type="tns:modificarTransaccionResponse" />
  <xs:element name="obtenerPorIDTransaccion" type="tns:obtenerPorIDTransaccion" />
  <xs:element name="obtenerPorIDTransaccionResponse" type="tns:obtenerPorIDTransaccionResponse" />
  <xs:complexType name="listarTransaccionCredito">
    <xs:sequence>
      <xs:element name="idCred" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTransaccionCreditoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="agencia" type="xs:string" />
      <xs:element name="anulado" type="xs:boolean" />
      <xs:element minOccurs="0" name="concepto" type="xs:string" />
      <xs:element minOccurs="0" name="credito" type="tns:credito" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
      <xs:element name="monto" type="xs:double" />
      <xs:element name="numOperacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioRegistrado" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="credito">
    <xs:sequence>
      <xs:element name="cancelado" type="xs:boolean" />
      <xs:element minOccurs="0" name="cliente" type="tns:usuario" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaOtorgamiento" type="xs:dateTime" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="motivo" type="xs:string" />
      <xs:element name="numCredito" type="xs:int" />
      <xs:element name="numCuotas" type="xs:int" />
      <xs:element name="tasaInteres" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="salt" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="ultimoLogueo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metodoPago" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idMetodoPago" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTitular" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTransaccion">
    <xs:sequence>
      <xs:element name="idtransaccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTransaccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosTransaccions">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosTransaccionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="transaccion" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTransaccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTransaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="transaccion" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTransaccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDTransaccion">
    <xs:sequence>
      <xs:element name="idtransaccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDTransaccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>