CreditoMovilWA/Connected Services/CreditoMovil/TransaccionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.creditomovil.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TransaccionWS" targetNamespace="http://services.creditomovil.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/TransaccionWS?xsd=1" namespace="http://services.creditomovil.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarTransaccion">
    <part name="parameters" element="tns:insertarTransaccion" />
  </message>
  <message name="insertarTransaccionResponse">
    <part name="parameters" element="tns:insertarTransaccionResponse" />
  </message>
  <message name="modificarTransaccion">
    <part name="parameters" element="tns:modificarTransaccion" />
  </message>
  <message name="modificarTransaccionResponse">
    <part name="parameters" element="tns:modificarTransaccionResponse" />
  </message>
  <message name="eliminarTransaccion">
    <part name="parameters" element="tns:eliminarTransaccion" />
  </message>
  <message name="eliminarTransaccionResponse">
    <part name="parameters" element="tns:eliminarTransaccionResponse" />
  </message>
  <message name="obtenerPorIDTransaccion">
    <part name="parameters" element="tns:obtenerPorIDTransaccion" />
  </message>
  <message name="obtenerPorIDTransaccionResponse">
    <part name="parameters" element="tns:obtenerPorIDTransaccionResponse" />
  </message>
  <message name="listarTodosTransaccions">
    <part name="parameters" element="tns:listarTodosTransaccions" />
  </message>
  <message name="listarTodosTransaccionsResponse">
    <part name="parameters" element="tns:listarTodosTransaccionsResponse" />
  </message>
  <portType name="TransaccionWS">
    <operation name="insertarTransaccion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/insertarTransaccionRequest" message="tns:insertarTransaccion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/insertarTransaccionResponse" message="tns:insertarTransaccionResponse" />
    </operation>
    <operation name="modificarTransaccion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/modificarTransaccionRequest" message="tns:modificarTransaccion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/modificarTransaccionResponse" message="tns:modificarTransaccionResponse" />
    </operation>
    <operation name="eliminarTransaccion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/eliminarTransaccionRequest" message="tns:eliminarTransaccion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/eliminarTransaccionResponse" message="tns:eliminarTransaccionResponse" />
    </operation>
    <operation name="obtenerPorIDTransaccion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/obtenerPorIDTransaccionRequest" message="tns:obtenerPorIDTransaccion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/obtenerPorIDTransaccionResponse" message="tns:obtenerPorIDTransaccionResponse" />
    </operation>
    <operation name="listarTodosTransaccions">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/listarTodosTransaccionsRequest" message="tns:listarTodosTransaccions" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/TransaccionWS/listarTodosTransaccionsResponse" message="tns:listarTodosTransaccionsResponse" />
    </operation>
  </portType>
  <binding name="TransaccionWSPortBinding" type="tns:TransaccionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarTransaccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTransaccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTransaccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIDTransaccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosTransaccions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TransaccionWS">
    <port name="TransaccionWSPort" binding="tns:TransaccionWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/TransaccionWS" />
    </port>
  </service>
</definitions>