CreditoMovilWATesterC#/Connected Services/WSCredito/CreditoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.creditomovil.pucp.edu.pe" targetNamespace="https://services.creditomovil.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCredito" type="tns:eliminarCredito" />
  <xs:element name="eliminarCreditoResponse" type="tns:eliminarCreditoResponse" />
  <xs:element name="insertarCredito" type="tns:insertarCredito" />
  <xs:element name="insertarCreditoResponse" type="tns:insertarCreditoResponse" />
  <xs:element name="listarCreditos" type="tns:listarCreditos" />
  <xs:element name="listarCreditosResponse" type="tns:listarCreditosResponse" />
  <xs:element name="obtenerCreditoPorId" type="tns:obtenerCreditoPorId" />
  <xs:element name="obtenerCreditoPorIdResponse" type="tns:obtenerCreditoPorIdResponse" />
  <xs:complexType name="obtenerCreditoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="numCredito" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCreditoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="credito">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:usuario" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaOtorgamiento" type="xs:dateTime" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="numCredito" type="xs:string" />
      <xs:element name="numCuotas" type="xs:int" />
      <xs:element name="tasaInteres" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ultimoLogueo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="credito" type="tns:credito" />
      <xs:element minOccurs="0" name="codigoCliente" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCreditoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCreditos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCreditosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="numCredito" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCreditoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>