CreditoMovilWATesterC#/Connected Services/WSCredito/CreditoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://services.creditomovil.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreditoWS" targetNamespace="https://services.creditomovil.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/CreditoWS?xsd=1" namespace="https://services.creditomovil.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarCredito">
    <part name="parameters" element="tns:insertarCredito" />
  </message>
  <message name="insertarCreditoResponse">
    <part name="parameters" element="tns:insertarCreditoResponse" />
  </message>
  <message name="listarCreditos">
    <part name="parameters" element="tns:listarCreditos" />
  </message>
  <message name="listarCreditosResponse">
    <part name="parameters" element="tns:listarCreditosResponse" />
  </message>
  <message name="eliminarCredito">
    <part name="parameters" element="tns:eliminarCredito" />
  </message>
  <message name="eliminarCreditoResponse">
    <part name="parameters" element="tns:eliminarCreditoResponse" />
  </message>
  <message name="obtenerCreditoPorId">
    <part name="parameters" element="tns:obtenerCreditoPorId" />
  </message>
  <message name="obtenerCreditoPorIdResponse">
    <part name="parameters" element="tns:obtenerCreditoPorIdResponse" />
  </message>
  <portType name="CreditoWS">
    <operation name="insertarCredito">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/insertarCreditoRequest" message="tns:insertarCredito" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/insertarCreditoResponse" message="tns:insertarCreditoResponse" />
    </operation>
    <operation name="listarCreditos">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosRequest" message="tns:listarCreditos" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosResponse" message="tns:listarCreditosResponse" />
    </operation>
    <operation name="eliminarCredito">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/eliminarCreditoRequest" message="tns:eliminarCredito" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/eliminarCreditoResponse" message="tns:eliminarCreditoResponse" />
    </operation>
    <operation name="obtenerCreditoPorId">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/obtenerCreditoPorIdRequest" message="tns:obtenerCreditoPorId" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/obtenerCreditoPorIdResponse" message="tns:obtenerCreditoPorIdResponse" />
    </operation>
  </portType>
  <binding name="CreditoWSPortBinding" type="tns:CreditoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCredito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCreditos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCredito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCreditoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CreditoWS">
    <port name="CreditoWSPort" binding="tns:CreditoWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/CreditoWS" />
    </port>
  </service>
</definitions>